src/dist/01-strings-tasks.dev.js
src/dist/02-numbers-tasks.dev.js
src/dist/03-arrays-tasks.dev.js
src/dist/04-date-tasks.dev.js
src/dist/05-regex-tasks.dev.js
src/dist/06-objects-tasks.dev.js
src/dist/08-conditions-n-loops-tasks.dev.js
src/dist/09-functions-n-closures-tasks.dev.js
src/dist/07-promises-tasks.js